.canvas{  
    display: block;
    /*border: 2px solid #000000; */
    margin: 1vh auto;

}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.scrollLeft, .scrollRight, .zoomOut, .zoomIn {
    height: 2vw;
    width: 4vw;
    margin: .25vw .25vw;
}

.slots {
    width: 75%;
    min-height: 16.5vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.card {
    position: relative;
    width: 12vw;
    height: 16vw;
    border: 2px solid black;
    border-radius: 4px;
    padding: 0vw;
    margin: 1vw;
}

.card h3 {
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.card p {
    position: absolute;
    bottom: 0px;
    height: 11.5vw;
    width: 100%;
    background-color: white;
    margin: 0vw;
}

.evenRow{
    margin: 0;
    background-color: rgb(195, 215, 225);
}

.oddRow{
    margin: 0;
}

.tableCol{
    text-align: left;
    width:16%;
}

.trashCanBtn {
    background: none;
    border: none;
    cursor: pointer
}

.trashCanCol{
    width: 4%;
}

